* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --verypale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}
body {
  height: 100vh;
  font-family: "Red Hat Display";
  background-color: var(--pale-blue);
  position: relative;
}
.background-img {
  height: 21rem;
  width: 100%;
}

.card {
  border-radius: 1rem;
  position: absolute;
  margin-top: -14rem;
  margin-left: 24rem;
  width: 20rem;
}
.card img {
  border-radius: 1rem 1rem 0 0;
}
h4 {
  font-weight: bold;
  text-align: center;
}
.card .card-text {
  font-weight: 900;
  text-align: center;
  font-size: 12px;
  color: lightgrey;
  width: 80%;
  margin: auto;
}
.music-plan {
  display: flex;
  justify-content: center;
  align-items: center;
}
.music-details {
  background-color: var(--verypale-blue);
  width: 95%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  margin: 9px 8px;
}
.music-plan img {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
}
.music-plan .plan-details {
  font-size: 0.7rem;
  font-weight: bold;
  margin-left: 0.5rem;
}
.plan-details .total {
  color: lightgrey;
}
.change-order {
  cursor: pointer;
  font-size: 0.7rem;
  text-decoration: none;
  margin-right: 0.5rem;
  color: var(--bright-blue);
}
.payment-btn {
  background-color: var(--bright-blue);
  margin: 0 auto;
  margin-top: 1rem;
  width: 95%;
  height: 2rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
}
.payment-btn:hover {
  box-shadow: 3px 3px 3px 3px var(--desaturated-blue);
}
.cancel-order {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  margin: 0 auto;
  color: black;
  font-weight: bold;
  font-size: 0.5rem;
  margin-top: 1rem;
}
.cancel-order:hover {
  color: black;
  font-weight: bold;
}

/*media queries*/
@media screen and (min-width: 375px) and (max-width: 400px) {
  .card {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 401px) and (max-width: 450px) {
  .card {
    margin-left: 2.5rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 500px) {
  .card {
    margin-left: 3.5rem;
  }
}
@media screen and (min-width: 501px) and (max-width: 550px) {
  .card {
    margin-left: 5rem;
  }
}
@media screen and (min-width: 551px) and (max-width: 767px) {
  .card {
    margin-left: 6rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .card {
    margin-left: 12rem;
  }
}
